table{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 300px;
}

th{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 300px;
}

td{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 300px;
}